<h1 class="text-center">{{2+2}}</h1>
<div class="row d-flex justify-content-center align">
<div class="col-4">
<div class="list-group">
  <div class="list-group-item" style="background: red;" (click)="playSound('note1')"></div>
  <div class="list-group-item" style="background: rgb(127, 212, 8);" (click)="playSound('note1')"></div>
  <div class="list-group-item" style="background: rgb(0, 0, 0);" (click)="playSound('note2')"></div>
  <div class="list-group-item" style="background: rgb(0, 60, 255);" (click)="playSound('note3')"></div>
  <div class="list-group-item" style="background: rgb(0, 252, 252);" (click)="playSound('note4')"></div>
  <div class="list-group-item" style="background: rgb(255, 0, 162);" (click)="playSound('note5')"></div> (oneclick)="playSound('note1')"
  <div class="list-group-item" style="background: rgb(208, 255, 0);" (click)="playSound('note6')"></div>
 
</div>
<!-- <img *ngFor="let temporal of images" [src]="temporal" alt=""> -->
</div>
</div>